.pantry-items,
.frozen-items {
    display: inline-block;
    background-color: rgb(201, 198, 198);
    padding: 10px;
    margin: 0px 15px 15px 15px;
    width: 250px;
    height: 200px;
}



h1 {
    font-size: 30px;
}

h2 {
    background-color: beige;
    border: 1px solid black;
    width: 300px;
    font-size: 27px;
}

h3 {
    font-size: 25px;
}